<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Student Profile</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">

      <div class="container">
        <div class="details">
          <div class="header">
            <span class="studNum">{{student.studNum}}</span>
          </div>
          <div class="name">
            <span class="name">
              {{student.lname}}, {{student.fname}} {{student.mname}}
            </span>
          </div>
          <div class="degProg">
            <span>{{student.degProg}}</span>
          </div>
          <div class="yrLvl"><span>{{student.yrLvl}}</span></div>
          <div class="gender"><span>{{student.gender}}</span></div>
          <div class="email"><span>{{student.email}}</span></div>
          <div class="contactNum"><span>{{student.contactNum}}</span></div>
          <div class="ftStatus"><span>{{student.ftStatus}}</span></div><!--CHECKBOX-->
          <div class="studClass"><span>{{student.studClass}}</span></div>
          <div class="enrolledStatus"><span>{{student.enrolledStatus}}</span></div>
          <div class="isShiftee"><span>{{student.isShiftee}}</span></div><!--CHECKBOX-->
          <div class="isOnLeave"><span>{{student.isOnLeave}}</span></div><!--CHECKBOX-->
          <div class="collegeID"><span>{{student.collegeID}}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>


