<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Student Profile</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container">
        <mat-card>
          <mat-card-header>
            <h1><strong>PROFILE</strong></h1>
          </mat-card-header>
          <mat-card-content class="info-header">
            <div class="row">
              <div class="col"></div>
              <div class="col">

              </div>
            </div>
          </mat-card-content>
          <br>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <div class="container">
                  <img src="../../../../../assets/user.png" alt="">
                </div>
              </div>

              <div class="col fs-5">
                <br><br>
                <div class="mb-3 text-center">
                  <span class="fs-3"><u>Information</u></span>
                </div>
                <div class="mb-2">
                  <span><strong>{{identifiers[0]}}: </strong></span>
                  <span>{{student.studentNumber}}</span>
                </div>

                <div class="mb-2">
                  <span><strong>{{identifiers[1]}}: </strong></span>
                  <span>
                    {{student.lastName}}, {{student.firstName}} {{student.middleName === '' ? '-' : student.middleName}} {{student.suffix === '' ? '-' : student.suffix }}
                  </span>
                </div>

                <div class="mb-2">
                  <span><strong>{{identifiers[2]}}: </strong></span>
                  <span>{{student.course}}</span>
                </div>

                <div class="mb-2">
                  <span><strong>{{identifiers[3]}}: </strong></span>
                  <span>{{student.street}} {{student.barangay}} {{student.municipality}} {{student.province}}</span>
                </div>

                <div class="mb-2">
                  <span><strong>{{identifiers[6]}}: </strong></span>
                  <span>{{student.status}}</span>
                </div>

                <div class="mb-2">
                  <span><strong>{{identifiers[8]}}: </strong></span>
                  <span>{{student.email}}</span>
                </div>

                <div class="mb-2">
                  <span><strong>{{identifiers[5]}}: </strong></span>
                  <span>{{student.dateOfBirth}}</span>
                </div>

                <div class="mb-2">
                  <span><strong>{{identifiers[9]}}: </strong></span>
                  <span>{{student.mobilePhone}}</span>
                </div>

                <div class="mb-2">
                  <span><strong>{{identifiers[4]}}: </strong></span>
                  <span>{{student.gender}}</span>
                </div>

                <div class="mb-2">
                  <span><strong>{{identifiers[7]}}: </strong></span>
                  <span>{{student.religion}}</span>
                </div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions>
            <div class="row align-items-start">
              <div class="col">
                <button mat-raised-button routerLink='/student/edit/{{student.studentNumber}}'> Edit </button>
              </div>
              <div class="col">
                <button mat-raised-button routerLink='/student/list'> Back to List </button>
              </div>
            </div>
          </mat-card-actions>
          <br>
        </mat-card>
      </div>
      <br>
    </div>
  </div>
</div>


