:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer{
  z-index: 1;
  background: linear-gradient(35deg, #003300, #006600, #009900, #00CC00);
  width: 300px;  
}

mat-drawer-container{
  height: 100%;
}
