
<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Import Students</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container">
        <label for="singleFile">UPLOAD STUDENT LIST &nbsp;<mat-icon class="upload">upload</mat-icon></label>
        <br><br>
        <input mat-input #fileImportInput id="singleFile" type="file" (change)="fileChangeListener($event)" accept=".csv">
        <button mat-button class="import" (click)="importStudents()">Import Students</button>
        <button mat-button class="list" routerLink="/student/list">Back to list</button>
      </div>
    </div>
  </div>
</div>
