<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Validation</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container" *ngIf="searchVisibility">
        <form [formGroup]="searchForm">
          <mat-form-field>
            <mat-label>Student Number</mat-label>
            <input matInput type="text" formControlName="studentnumber" autocomplete="off" (keypress)="numberFilter($event)">
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>Semester</mat-label>
            <mat-select formControlName="semester">
              <mat-option value="FIRST">FIRST</mat-option>
              <mat-option value="SECOND">SECOND</mat-option>
              <mat-option value="SUMMER">SUMMER</mat-option>
            </mat-select>
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>School Year</mat-label>
            <input matInput type="text" formControlName="schoolyear" autocomplete="off">
          </mat-form-field>
          <br>

          <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <button mat-button type="submit" class="btn btn-success" (click)="generateData()">Validate Student</button>
              </div>

              <div class="col">
                <button mat-button routerLink="/dashboard">Back to Dashboard</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- STUDENT INFORMATION -->
      <div class="container" *ngIf="resultVisibility">
        <br><br>
        <div class="container">
          <div class="row align-items-start">
            <div class="col">
              <p>Student Number: {{resultForm.get('studentnumber').value}}</p>
            </div>

            <div class="col">
              <p>Semester: {{searchForm.get('semester').value}}</p>
            </div>

            <div class="col">
              <p>School Year: {{searchForm.get('schoolyear').value}}</p>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row align-items-start">
            <div class="col">
              <p>
                Student Name: {{resultForm.get('firstname').value}} {{resultForm.get('middlename').value}}. {{resultForm.get('lastname').value}}
              </p>
            </div>
            <div class="col">
              <p>
                Course: {{resultForm.get('course').value}}
              </p>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row align-items-start">
            <div class="col">
              <p>
                Year: {{resultForm.get('year').value}}
              </p>
            </div>

            <div class="col">
              <p>
                Major: {{this.resultForm.get('major').value}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- SCHEDULE LIST -->
      <div class="container" *ngIf="resultVisibility">
        <table mat-table [dataSource]="resultDataSource">
          <ng-container matColumnDef="schedcode">
            <th mat-header-cell *matHeaderCellDef> Schedule Code </th>
            <td mat-cell *matCellDef="let result"> {{result.schedcode}} </td>
          </ng-container>

          <ng-container matColumnDef="subjectcode">
            <th mat-header-cell *matHeaderCellDef> Course Code </th>
            <td mat-cell *matCellDef="let result"> {{result.subjectCode}} </td>
          </ng-container>

          <ng-container matColumnDef="subjectTitle">
            <th mat-header-cell *matHeaderCellDef> Course Description </th>
            <td mat-cell *matCellDef="let result"> {{result.subjectTitle}} </td>
          </ng-container>

          <ng-container matColumnDef="units">
            <th mat-header-cell *matHeaderCellDef> Units </th>
            <td mat-cell *matCellDef="let result"> {{result.units}} </td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let result">
              {{result.timein1}}-{{result.timeout1}}
              {{result.timein2 === 'N/A' ? '' : ' \| ' + result.timein2 + '-' + result.timeout2}}
            </td>
          </ng-container>

          <ng-container matColumnDef="day">
            <th mat-header-cell *matHeaderCellDef> Day </th>
            <td mat-cell *matCellDef="let result">
              {{result.day1}}
              {{result.day2 === 'N/A' ? '' : ' \| ' + result.day2}}
            </td>
          </ng-container>

          <ng-container matColumnDef="room">
            <th mat-header-cell *matHeaderCellDef> Room </th>
            <td mat-cell *matCellDef="let result">
              {{result.room1}}
              {{result.room2 === 'N/A' ? '' : ' \| ' + result.room2}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="resultSubjectsColumn"></tr>
          <tr mat-row *matRowDef="let row; columns: resultSubjectsColumn;" ></tr>
        </table>
      </div>

      <!-- UNPAID AND PAID DIVISION OF FEES AND SCHOLARSHIP EDIT -->
      <div class="container" *ngIf="resultVisibility">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight>
          <!-- DIVISION OF FEES -->
          <mat-tab label="Division of Fees">
            <div class="container">
              <div class="row align-items-start">
                <div class="col">
                  <p>
                    AnSci: {{resultForm.get('ansci').value | number: '1.2-2'}}
                  </p>
                  <p>
                    CEMDS: {{resultForm.get('cemds').value | number: '1.2-2'}}
                  </p>
                  <p>
                    HRM: {{resultForm.get('hrm').value | number: '1.2-2'}}
                  </p>
                  <p>
                    CropSci: {{resultForm.get('cropsci').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Engineering: {{resultForm.get('engineering').value | number: '1.2-2'}}
                  </p>
                  <p>
                    PhySci: {{resultForm.get('physci').value | number: '1.2-2'}}
                  </p>
                  <p>
                    VetMed: {{resultForm.get('vetmed').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Speech: {{resultForm.get('speech').value | number: '1.2-2'}}
                  </p>
                  <p>
                    English: {{resultForm.get('english').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Nursing: {{resultForm.get('nursing').value | number: '1.2-2'}}
                  </p>
                  <p>
                    CCL: {{resultForm.get('ccl').value | number: '1.2-2'}}
                  </p>
                  <p>
                    RLE: {{resultForm.get('rle').value | number: '1.2-2'}}
                  </p>
                </div>

                <div class="col">
                  <p>
                    Internet: {{resultForm.get('internet').value | number: '1.2-2'}}
                  </p>
                  <p>
                    NSTP: {{resultForm.get('nstp').value | number: '1.2-2'}}
                  </p>
                  <p>
                    OJT: {{resultForm.get('ojt').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Thesis: {{resultForm.get('thesis').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Student: {{resultForm.get('student').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Late: {{resultForm.get('late').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Residency: {{resultForm.get('residency').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Foreign Student: {{resultForm.get('foreignstudent').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Added Subject: {{resultForm.get('addedsubj').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Petition: {{resultForm.get('petition').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Tuition: {{resultForm.get('tuition').value | number: '1.2-2'}}
                  </p>
                </div>

                <div class="col">
                  <p>
                    Library: {{resultForm.get('library').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Medical: {{resultForm.get('medical').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Publication: {{resultForm.get('publication').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Registration: {{resultForm.get('registration').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Guidance: {{resultForm.get('guidance').value | number: '1.2-2'}}
                  </p>
                  <p>
                    ID: {{resultForm.get('id').value | number: '1.2-2'}}
                  </p>
                  <p>
                    SFDF: {{resultForm.get('sfdf').value | number: '1.2-2'}}
                  </p>
                  <p>
                    SRF: {{resultForm.get('srf').value | number: '1.2-2'}}
                  </p>
                </div>

                <div class="col">
                  <p>
                    Athletic: {{resultForm.get('athletic').value | number: '1.2-2'}}
                  </p>
                  <p>
                    SCUAA: {{resultForm.get('scuaa').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Deposit: {{resultForm.get('deposit').value | number: '1.2-2'}}
                  </p>
                  <p>
                    CSPEAR: {{resultForm.get('cspear').value | number: '1.2-2'}}
                  </p>
                  <p>
                    EDFS: {{resultForm.get('edfs').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Psyc: {{resultForm.get('psyc').value | number: '1.2-2'}}
                  </p>
                  <p>
                    TRM: {{resultForm.get('trm').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Fishery: {{resultForm.get('fishery').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Total Lab: {{resultForm.get('totalLab').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Total Other: {{resultForm.get('totalOther').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Total Fees: {{totalAmount | number: '1.2-2'}}
                  </p>
                </div>
              </div>
            </div>
          </mat-tab>

          <!-- PAID DIVISION OF FEES -->
          <mat-tab label="Paid Division of Fees">
            <div class="container">
              <div class="row align-items-start">
                <div class="col">
                  <p>
                    AnSci: {{resultForm.get('pansci').value | number: '1.2-2'}}
                  </p>
                  <p>
                    CEMDS: {{resultForm.get('pcemds').value | number: '1.2-2'}}
                  </p>
                  <p>
                    HRM: {{resultForm.get('phrm').value | number: '1.2-2'}}
                  </p>
                  <p>
                    CropSci: {{resultForm.get('pcropsci').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Engineering: {{resultForm.get('pengineering').value | number: '1.2-2'}}
                  </p>
                  <p>
                    PhySci: {{resultForm.get('pphysci').value | number: '1.2-2'}}
                  </p>
                  <p>
                    VetMed: {{resultForm.get('pvetmed').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Speech: {{resultForm.get('pspeech').value | number: '1.2-2'}}
                  </p>
                  <p>
                    English: {{resultForm.get('penglish').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Nursing: {{resultForm.get('pnursing').value | number: '1.2-2'}}
                  </p>
                  <p>
                    CCL: {{resultForm.get('pccl').value | number: '1.2-2'}}
                  </p>
                  <p>
                    RLE: {{resultForm.get('prle').value | number: '1.2-2'}}
                  </p>
                </div>

                <div class="col">
                  <p>
                    Internet: {{resultForm.get('pinternet').value | number: '1.2-2'}}
                  </p>
                  <p>
                    NSTP: {{resultForm.get('pnstp').value | number: '1.2-2'}}
                  </p>
                  <p>
                    OJT: {{resultForm.get('pojt').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Thesis: {{resultForm.get('pthesis').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Student: {{resultForm.get('pstudent').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Late: {{resultForm.get('plate').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Residency: {{resultForm.get('presidency').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Foreign Student: {{resultForm.get('pforeignstudent').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Added Subject: {{resultForm.get('paddedsubj').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Petition: {{resultForm.get('ppetition').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Tuition: {{resultForm.get('ptuition').value | number: '1.2-2'}}
                  </p>
                </div>

                <div class="col">
                  <p>
                    Library: {{resultForm.get('plibrary').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Medical: {{resultForm.get('pmedical').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Publication: {{resultForm.get('ppublication').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Registration: {{resultForm.get('pregistration').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Guidance: {{resultForm.get('pguidance').value | number: '1.2-2'}}
                  </p>
                  <p>
                    ID: {{resultForm.get('pid').value | number: '1.2-2'}}
                  </p>
                  <p>
                    SFDF: {{resultForm.get('psfdf').value | number: '1.2-2'}}
                  </p>
                  <p>
                    SRF: {{resultForm.get('psrf').value | number: '1.2-2'}}
                  </p>
                </div>

                <div class="col">
                  <p>
                    Athletic: {{resultForm.get('pathletic').value | number: '1.2-2'}}
                  </p>
                  <p>
                    SCUAA: {{resultForm.get('pscuaa').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Deposit: {{resultForm.get('pdeposit').value | number: '1.2-2'}}
                  </p>
                  <p>
                    CSPEAR: {{resultForm.get('pcspear').value | number: '1.2-2'}}
                  </p>
                  <p>
                    EDFS: {{resultForm.get('pedfs').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Psyc: {{resultForm.get('ppsyc').value | number: '1.2-2'}}
                  </p>
                  <p>
                    TRM: {{resultForm.get('ptrm').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Fishery: {{resultForm.get('pfishery').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Total Lab: {{resultForm.get('ptotalLab').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Total Other: {{resultForm.get('ptotalOther').value | number: '1.2-2'}}
                  </p>
                  <p>
                    Total Fees: {{ptotalAmount | number: '1.2-2'}}
                  </p>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Scholarship">
            <div class="container">
              <div class="row align-items-start">
                <div class="col">
                  <p>
                    Scholarship: {{resultForm.get('scholarship').value}}
                  </p>
                  <p>
                    Tuition: {{resultForm.get('discountTuition').value}}
                  </p>
                  <p>
                    SRF: {{resultForm.get('discountSrf').value}}
                  </p>
                  <p>
                    SFDF: {{resultForm.get('discountSfdf').value}}
                  </p>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
