@import "../../../index/home/home.component.scss";

table{
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  ng-container {
    align-items: center;
  }
}

.mat-row:hover {
  background-color: #E8EAF6;
  cursor: pointer;
}
