@import "../../../index/home/home.component.scss";

table{
  position: relative;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  ng-container {
    align-items: center;
  }
}

.mat-row:hover {
  background-color: #E8EAF6;
  cursor: pointer;
}

mat-form-field {
  &.input-width {
    width: 40rem;
  }
}

mat-card {
  align-items: center;
  mat-card-content mat-form-field {
    width: 30rem;
  }
}
