<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Adding Subject</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container" *ngIf="searchVisibility">
        
        <form [formGroup]="searchForm">  
            <div class="input-container">
            <input type="text" formControlName="studentnumber" autocomplete="off" (keypress)="numberFilter($event)">
            <span class="student">Student Number</span>
          </div>          
          <br>
         
            <div class="select-container">
            <select class="select" formControlName="semester" value="">
              <option class="option" value="FIRST">FIRST</option>
              <option class="option" value="SECOND">SECOND</option>
              <option class="option" value="SUMMER">SUMMER</option>
              </select>
              <span class="custom-arrow"></span>
              <span class="span">Semester</span>
            </div>            
          <br>
        
            <div class="input-container1">
            <input type="text" formControlName="schoolyear" autocomplete="off">
            <span class="school-year">School Year</span>
            </div>
          <br>

          <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <button mat-button type="submit" class="proceed-button" (click)="generateScheduleList()">Proceed</button>
              </div>

              <div class="col">
                <button mat-button class="dashboard-button" routerLink="/dashboard">Dashboard</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="container" *ngIf="resultVisibility">
        <button mat-button class="btn btn-success" (click)="addSubject()">Add Subject</button>
        <p *ngIf="addedSchedule.isTextResult">Subjects to be Added:</p>
        <div *ngFor="let schedule of addedScheduleList; let index = index">
          <div [formGroup]="addedSchedule">
            <!-- SCHEDCODE INPUT -->
            <mat-form-field appearance="fill" *ngIf="schedule.isShown">
              <mat-label>Schedule Code</mat-label>
              <input
                matInput
                type="text"
                aria-label="Schedule Code"
                [matAutocomplete]="auto"
                [formControl]="schedControl"
                (keypress)="numberFilter($event)"
                #schedcode
              >

              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let sched of filteredSched | async" [value]="sched.schedcode" >
                  <span>{{sched.schedcode}}</span> |
                  <small>{{sched.subjectCode}}</small>
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>
            <div class="row align-items-start">
              <div class="col">
                <p class="fs-6" *ngIf="schedule.isTextResult">Sched Code: {{schedule.schedcode}}</p>
              </div>
              <div class="col">
                <p class="fs-6" *ngIf="schedule.isTextResult">Subj Code: {{schedule.subjectCode}}</p>
              </div>
            </div>

            <button
              mat-button type="submit"
              class="btn btn-success"
              (click)="searchAndAdd(schedControl.value)"
              *ngIf="schedule.isShown"
            > Search Subject </button>
          </div>
        </div>

        <div class="row align-items-start">
          <div class="col">
            <button mat-button class="btn btn-success" *ngIf="resultVisibility" (click)="finalAdd()">Reevaluate Fees</button>
          </div>
          <div class="col">
            <button mat-button class="btn btn-success" (click)="backToSearch()">Back to Search</button>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>
