<div class="container-fluid page">
  <div class="page__box p-3 mt-2">User Profile</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container">
        <div class="details">
          <div class="header">
            <span class="collegeID">{{user.collegeID}}</span>
          </div>
          <div class="username">
            <span class="username">{{user.username}}</span>
          </div>
          <div class="password">
            <span class="password">{{user.password}}</span>
          </div>
          <div class="isAdmin">
            <span class="isAdmin">{{user.isAdmin}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

