
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()"><mat-icon>menu</mat-icon></button>
    <a routerLink="/" class="logo">CvSU Registrar Admin Panel</a>

    <div class="row mr-2 ml-auto">
      <ul>
        <li>
          <button mat-button [mat-menu-trigger-for]="menu" class="user mt-2 d-flex align-items-center">
            <img src="../../../../assets/logo.png" alt="" class="user-image mr-1 p-2" />
            {{getName()}}
            <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="loginBtn" (click)="redirectTo('/login/admin')">
              <mat-icon>person_outline</mat-icon> Login
            </button>
            <button mat-menu-item *ngIf="logoutBtn" (click)="logout()">
              <mat-icon>logout</mat-icon> Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!--<p>test</p>-->
