<br>
<div class="container" *ngIf="searchVisibility">
  <form [formGroup]="searchForm" class="mb-3">
    <mat-form-field>
      <mat-label>Student Number</mat-label>
      <input
       matInput
       #studentnumber type="text" formControlName="studentnumber"
       autocomplete="off" (keypress)="numberFilter($event)"
       readonly
      >
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>Semester</mat-label>
      <mat-select formControlName="semester">
        <mat-option value="FIRST">FIRST</mat-option>
        <mat-option value="SECOND">SECOND</mat-option>
        <mat-option value="SUMMER">SUMMER</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>School Year</mat-label>
      <mat-select formControlName="schoolyear">
        <mat-option *ngFor="let year of schoolyear" [value]="year.schoolyear">{{year.schoolyear}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <button mat-raised-button type="submit" class="btn btn-success" (click)="generateCog()">Generate CoG</button>
        </div>

        <div class="col">
          <button mat-raised-button (click)="closeDialog()">Close Dialog</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="container" *ngIf="resultVisibility" [ngStyle]="a4Style">
  <div class="row align-items-start">
    <div class="col">
      <button mat-raised-button type="submit" class="btn btn-success" (click)="exportCog()">Export COG</button>
    </div>

    <div class="col">
      <button mat-raised-button (click)="closeDialog()">Close Dialog</button>
    </div>
  </div>
  <br>
  <mat-divider></mat-divider>
</div>

<div id="print1" class="container px-5" *ngIf="resultVisibility">
  <br><br><br><br><br><br>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <p class="fs-6">
          Name:
          <strong>
            {{this.resultStudInfo.get('firstname').value}}
            {{this.resultStudInfo.get('middlename').value}}.
            {{this.resultStudInfo.get('lastname').value}}
          </strong>
        </p>
      </div>
      <div class="col"></div>
      <div class="col">
        <p class="fs-6">
          Course:
          <strong>
            {{resultStudInfo.get('course').value}}
          </strong>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <p class="fs-6">
          Student Number:
          <strong>
            {{resultStudInfo.get('studentnumber').value}}
          </strong>
        </p>
      </div>

      <div class="col"></div>

      <div class="col">
        <p class="fs-6 text-end">
          <strong>
            {{currentDate | date: 'fullDate'}}
          </strong>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <p class="fs-6">
          School Year:
          <strong>
            {{searchForm.get('schoolyear').value}}
          </strong>
        </p>
      </div>

      <div class="col">
        <p class="fs-6">
          Semester:
          <strong>
            {{searchForm.get('semester').value}}
          </strong>
        </p>
      </div>

      <div class="col"></div>
      <div class="col">
        <p class="fs-6 text-end">
          Encoder: eCopy
        </p>
      </div>


    </div>
  </div>

  <div class="container table table-responsive">
    <table mat-table [dataSource]="resultDataSource" class="cog-form">
      <ng-container matColumnDef="subjectcode">
        <th mat-header-cell *matHeaderCellDef class="header border-right"> code </th>
        <td mat-cell *matCellDef="let result" class="cell-row"> {{result.subjectcode}} </td>
      </ng-container>

      <ng-container matColumnDef="subjectTitle">
        <th mat-header-cell *matHeaderCellDef class="header border-right"> title </th>
        <td mat-cell *matCellDef="let result" class="cell-row"> {{result.subjectTitle}} </td>
      </ng-container>

      <ng-container matColumnDef="mygrade">
        <th mat-header-cell *matHeaderCellDef class="header border-right"> grade </th>
        <td mat-cell *matCellDef="let result"  class="cell-row"> {{result.mygrade}} </td>
      </ng-container>

      <ng-container matColumnDef="makeupgrade">
        <th mat-header-cell *matHeaderCellDef class="header border-right"> compl </th>
        <td mat-cell *matCellDef="let result" class="cell-row"> {{result.makeupgrade}} </td>
      </ng-container>

      <ng-container matColumnDef="units">
        <th mat-header-cell *matHeaderCellDef class="header border-right"> units </th>
        <td mat-cell *matCellDef="let result" class="cell-row"> {{result.units}} </td>
      </ng-container>

      <ng-container matColumnDef="creditUnits">
        <th mat-header-cell *matHeaderCellDef class="header"> credit units </th>
        <td mat-cell *matCellDef="let result" class="cell-row"> {{result.creditUnits}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="resultColumns" class="header border-right"></tr>
      <tr mat-row *matRowDef="let row; columns: resultColumns;"  class="data-row"></tr>
    </table>

    <div class="row align-items-start">
      <div class="col">
        <p class="fs-6">
          Total Units:
          <strong>
            {{totalUnits}}
          </strong>
        </p>
      </div>

      <div class="col">
        <p class="fs-6">
          Average:
          <strong>
            {{aveGrade | number: '1.2-2'}}
          </strong>
        </p>
      </div>
      <div class="col"></div>
    </div>

    <div class="row align-items-start">
      <div class="col">
        <p class="fs-6">
          Total Credit Units:
          <strong>
            {{totalCreditUnits}}
          </strong>
        </p>
      </div>

      <div class="col">
        <p class="fs-6">
          Scholarship:
          <strong>
            {{scholarship}}
          </strong>
        </p>
      </div>
      <div class="col"></div>
    </div>

    <div class="row align-items-start">
      <div class="col">
        <p class="fs-6">
          Passing Percentage:
          <strong>
            {{passingPercentage | number: '1.2-2'}}
          </strong>
        </p>
      </div>

      <div class="col"></div>

      <div class="col">
        <br><br>
        <p class="text-center fs-5">
          <strong>
            {{globalVar[0].registrar}}
          </strong>
          <p class="text-center fs-6">
            UNIVERSITY REGISTRAR
        </p>
      </div>

    </div>
  </div>
</div>
