@import '../../index/home/home.component.scss';

table {
  overflow: visible !important;
  height: fit-content;

  &.reg-form {
    border-bottom: solid;
  }

  &.cog-form {
    border: solid;
  }
}

p.no-margin {
  margin-bottom: 0rem !important;
}

.table {
  margin-bottom: 0rem;
}

th {
  text-align: center;
}

.mat-mdc-table .mdc-data-table__header-row.header {
  border-top: solid;
  border-bottom: solid !important;
  height: fit-content;
}

.mdc-data-table__header-cell.header.border-right {
  border-right: solid;
}

.mat-mdc-table .mdc-data-table__row.data-row {
  height: fit-content;
  border-right: none;
}

td.mdc-data-table__cell.cell-row {
  border-right: solid;
  border-bottom-color: rgba(0,0,0,0);
  &-end {
    border-right: hidden;
    border-bottom-color: rgba(0,0,0,0);
  }
}

div.container {
  text-align: center;
  div.container {
    text-align: left;
  }
}

mat-card {
  background-color: #439a43;
}
mat-card-actions {
  align-self: center;
  button {
    width: 15rem;
  }
}

div.col {
  text-align: center;
  min-width: fit-content;
}

.row {
  padding-left: 2rem;
}

p {
  text-align: left;
  &.right {
    text-align: right;
  }
}

#print {
  padding: 0%;
  font-size: small;
}
