@import  '../../index/home/home.component.scss';

//FORMAT GOES HERE
.page__content {
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

mat-card {
  background-color: #439a43;
}

button {
  width: 15rem;
}

td {
  button {
    width: 100%;
  }
}

form.mw {
  width: 50rem;
  overflow: visible;
}

.container.text-right {
  text-align: right;
}
