<mat-list>
  <!--LOGO-->
  <div class="logo py-4">
    <img src="../../../../assets/logo.png" alt="CvSU Logo">
  </div>
  <mat-divider></mat-divider>
  <mat-accordion>

    <h2 matSubheader class="mt-2">PAGES</h2>

    <!--HOME/DASHBOARD MENUS-->
    <mat-list-item *ngIf="loginBtn">
      <button mat-button routerLink="/" routerLinkActive="list-item-active">
        <mat-icon matListItemIcon>home</mat-icon> Home
      </button>
    </mat-list-item>

    <mat-list-item *ngIf="logoutBtn">
      <button mat-button routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon matListItemIcon>dashboard</mat-icon> Dashboard
      </button>
    </mat-list-item>


    <!--ADMIN SUBMENU-->
    <mat-expansion-panel *ngIf="adminLogoutBtn">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>admin_panel_settings</mat-icon> <p>Admin Menu</p>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list-item>
        <button mat-button routerLink="/account/list" routerLinkActive="list-item-active">
          <mat-icon>view_headline</mat-icon> View Accounts
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button routerLink="/variables/edit" routerLinkActive="list-item-active">
          <mat-icon>edit</mat-icon> Edit Global Variables
        </button>
      </mat-list-item>
    </mat-expansion-panel>

    <!--STUDENT SUBMENU-->
    <mat-expansion-panel *ngIf="logoutBtn">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>face</mat-icon> <p>Student</p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list-item>
          <button mat-button routerLink="/student/list" routerLinkActive="list-item-active">
            <mat-icon>list</mat-icon> Student List
          </button>
        </mat-list-item>

        <mat-list-item>
          <button mat-button routerLink="/student/grades" routerLinkActive="list-item-active">
            <mat-icon>edit_square</mat-icon> Modify Grades
          </button>
        </mat-list-item>

    </mat-expansion-panel>

    <!--SCHEDULE SUBMENU-->
    <mat-expansion-panel *ngIf="logoutBtn">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>calendar_today</mat-icon> <p>Schedule</p>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list-item>
        <button mat-button routerLink="/schedule/list" routerLinkActive="list-item-active">
          <mat-icon>view_list</mat-icon> Schedule list
        </button>
      </mat-list-item>

      <!--
      <a mat-list-item routerLink="/schedule/edit" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon> Edit Schedule
      </a>
      -->
    </mat-expansion-panel>

    <!--ENROLLMENT SUBMENU-->
    <mat-expansion-panel *ngIf="logoutBtn">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>checklist</mat-icon> <p>Enrollment</p>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list-item>
        <button mat-button routerLink="/enrollment/assessed_list" routerLinkActive="list-item-active">
          <mat-icon>checklist_rtl</mat-icon> Assessed List
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button routerLink="/enrollment/enrolled_list" routerLinkActive="list-item-active">
          <mat-icon>fact_check</mat-icon> Enrolled List
        </button>
      </mat-list-item>
    </mat-expansion-panel>

    <!--REPORTS SUBMENU-->
    <mat-expansion-panel *ngIf="logoutBtn">
      <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>summarize</mat-icon> <p>Reports</p>
          </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list-item>
        <button mat-button routerLink="report/generate" routerLinkActive="list-item-active">
          <mat-icon>download_for_offline</mat-icon> Generate Report
        </button>
      </mat-list-item>
    </mat-expansion-panel>


    <!--LOGIN/ADMIN LOGIN/LOGOUT BUTTONS-->
    <mat-list-item *ngIf="loginBtn" >
      <button mat-button routerLink="/login/admin" routerLinkActive="list-item-active">
        <mat-icon>person_outline</mat-icon> Admin Login
      </button>
    </mat-list-item>

    <mat-list-item *ngIf="logoutBtn">
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon> Logout
      </button>
    </mat-list-item>
  </mat-accordion>
</mat-list>
