<mat-nav-list>
  <!--LOGO-->
  <div class="logo py-4">
    <img src="../../../../assets/logo.png" alt="CvSU Logo">
  </div>
  <mat-divider></mat-divider>
  <mat-accordion>

    <h2 matSubheader class="mt-2">PAGES</h2>

    <!--HOME/DASHBOARD MENUS-->
    <a mat-list-item *ngIf="loginBtn" routerLink="/home" routerLinkActive="list-item-active">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item *ngIf="logoutBtn" routerLink="/dashboard" routerLinkActive="list-item-active">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>

    <!--ADMIN SUBMENU-->
    <mat-expansion-panel *ngIf="adminLogoutBtn">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>admin_panel_settings</mat-icon> <p>Admin Menu</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item routerLink="/account/list" routerLinkActive="list-item-active">
        <mat-icon>view_headline</mat-icon> View Accounts
      </a>
      <a mat-list-item routerLink="/account/add" routerLinkActive="list-item-active">
        <mat-icon>add</mat-icon> Add Account
      </a>
      <!--
      <a mat-list-item routerLink="/account/edit" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon> Edit Account
      </a>
      -->
      <a mat-list-item routerLink="/curriculum/list" routerLinkActive="list-item-active">
        <mat-icon>fact_check</mat-icon> Curriculum List
      </a>
      <a mat-list-item routerLink="/curriculum/add" routerLinkActive="list-item-active">
        <mat-icon>add-_circle</mat-icon> Add Curriculum
      </a>
      
      <a mat-list-item routerLink="/variables/edit" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon> Edit Global Variables
      </a>
    </mat-expansion-panel>

    <!--STUDENT SUBMENU-->
    <mat-expansion-panel *ngIf="logoutBtn">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>face</mat-icon> <p>Student</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/student/add" routerLinkActive="list-item-active">
          <mat-icon>person_add</mat-icon> Import Students
        </a>
        <a mat-list-item routerLink="/student/list" routerLinkActive="list-item-active">
          <mat-icon>list</mat-icon> Student List
        </a>
    </mat-expansion-panel>

    <!--SCHEDULE SUBMENU-->
    <mat-expansion-panel *ngIf="logoutBtn">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>calendar_today</mat-icon> <p>Schedule</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item routerLink="/schedule/list" routerLinkActive="list-item-active">
        <mat-icon>view_list</mat-icon> Schedule list
      </a>
      <a mat-list-item routerLink="/schedule/add" routerLinkActive="list-item-active">
        <mat-icon>add</mat-icon> Add Schedule
      </a>
      <!--
      <a mat-list-item routerLink="/schedule/edit" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon> Edit Schedule
      </a>
      -->
    </mat-expansion-panel>

    <!--ENROLLMENT SUBMENU-->
    <mat-expansion-panel *ngIf="logoutBtn">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>checklist</mat-icon> <p>Enrollment</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item routerLink="/enrollment/assessment" routerLinkActive="list-item-active">
        <mat-icon>add_task</mat-icon> Assessment
      </a>
      <a mat-list-item routerLink="/enrollment/validation" routerLinkActive="list-item-active">
        <mat-icon>domain_verification</mat-icon> Validation
      </a>
      <a mat-list-item routerLink="/enrollment/adding" routerLinkActive="list-item-active">
        <mat-icon>add</mat-icon> Adding
      </a>
      <a mat-list-item routerLink="/enrollment/dropping" routerLinkActive="list-item-active">
        <mat-icon>remove</mat-icon> Dropping
      </a>
      <a mat-list-item routerLink="/enrollment/changing" routerLinkActive="list-item-active">
        <mat-icon>trending_flat</mat-icon> Changing
      </a>
    </mat-expansion-panel>

    <!--REPORTS SUBMENU-->
    <mat-expansion-panel *ngIf="logoutBtn">
      <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>summarize</mat-icon> <p>Reports</p>
          </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item routerLink="report/generate" routerLinkActive="list-item-active">
        <mat-icon>download_for_offline</mat-icon> Generate Report
      </a>
      <a mat-list-item routerLink="report/loa/list" routerLinkActive="list-item-active">
        <mat-icon>list</mat-icon> LOA List
      </a>
      <a mat-list-item routerLink="report/loa/add" routerLinkActive="list-item-active">
        <mat-icon>add</mat-icon> Add LOA
      </a>
      <a mat-list-item routerLink="report/shiftee/list" routerLinkActive="list-item-active">
        <mat-icon>list_alt</mat-icon> Shiftee List
      </a>
      <a mat-list-item routerLink="report/shiftee/add" routerLinkActive="list-item-active">
        <mat-icon>person_add</mat-icon> Add Shiftee
      </a>
    </mat-expansion-panel>


    <!--LOGIN/ADMIN LOGIN/LOGOUT BUTTONS-->
    <a mat-list-item *ngIf="loginBtn" routerLink="/login/user" routerLinkActive="list-item-active">
      <mat-icon>login</mat-icon> Login
    </a>
    <a mat-list-item *ngIf="loginBtn" routerLink="/login/admin" routerLinkActive="list-item-active">
      <mat-icon>person_outline</mat-icon> Admin Login
    </a>
    <a mat-list-item *ngIf="logoutBtn" (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </a>
  </mat-accordion>
</mat-nav-list>
