@import '../../index/home/home.component.scss';

//FORMAT GOES HERE
mat-form-field {
  font-size: medium;
  align-items: center;
}

table {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mat-row:hover {
  background-color: #E8EAF6;
  cursor: pointer;
}
