<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container">
        <mat-card>
          <mat-card-header class="mt-5 mb-3">
            <div class="container">
              <p class="fs-1"><strong>Welcome, {{uname}}!</strong></p>
            </div>
          </mat-card-header>
          <br>

          <mat-card-content class="mx-4 mb-5">
            <div class="container">
              <p class="fs-2">Status for <strong>{{globalVar[0].semester}}</strong> Semester of AY <strong>{{globalVar[0].schoolyear}}</strong></p>
            </div>
            <br>
            <div class="container">
              <p class="fs-4"><strong>Students Enrolled: </strong> {{quickData[0]}}</p>
            </div>
            <div class="container">
              <p class="fs-4"><strong>Shiftees: </strong> {{quickData[1]}}</p>
            </div>
            <div class="container">
              <p class="fs-4"><strong>Students with LOA: </strong> {{quickData[2]}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <br><br>
    </div>
  </div>
</div>
