@import "../home/home.component.scss";

//FORMAT GOES HERE
.page__content {
  background-image: url('../../../../../assets/dashboardbg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

mat-card {
  opacity: 100%;
  width: 55rem;

  &.content {
    width: 15rem;
    background-color: #439a43;
    color: white;
  }
  mat-card-header {
    color: darkgreen;
  }

  mat-card-header, mat-card-content {
    opacity: 100% !important;
  }

  .center {
    display: inline-block;
    align-self: center;
  }
}
