<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container">
        <mat-card>
          <mat-card-header class="mt-5 mb-3">
            <div class="container">
              <p class="fs-1"><strong>Welcome, {{uname}}!</strong></p>
            </div>
          </mat-card-header>
          <br>

          <mat-card-content class="mx-4 mb-5">
            <div class="container">
              <p class="fs-3">Status for <strong>{{globalVar[0].semester}}</strong> Semester of AY <strong>{{globalVar[0].schoolyear}}</strong></p>
            </div>
            <br>
            <div class="container">
              <div class="row">
                <div class="col">
                  <mat-card class="content fs-5">
                    <mat-card-content>
                      <strong>{{quickData[0]}}</strong>
                      <br>
                      Students Enrolled
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="col">
                  <mat-card class="content fs-5">
                    <mat-card-content>
                      <strong>{{quickData[3]}}</strong>
                      <br>
                      Male Enrolled
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="col">
                  <mat-card class="content fs-5">
                    <mat-card-content>
                      <strong>{{quickData[4]}}</strong>
                      <br>
                      Female Enrolled
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col">
                  <mat-card class="content fs-5">
                    <mat-card-content>
                      <strong>{{quickData[1]}}</strong>
                      <br>
                      Shiftees
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="col">
                  <mat-card class="content fs-5">
                    <mat-card-content>
                      <strong>{{quickData[2]}}</strong>
                      <br>
                      Students with LOA
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="col">
                  <mat-card class="content fs-5">
                    <mat-card-content>
                      <strong>({{quickData[0]}}/{{quickData[6]}}) {{quickData[5] | number: '1.2-2'}}%</strong>
                      <br>
                      Validated/Assessed
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col">
                  <mat-card class="content fs-5">
                    <mat-card-content>
                      <strong>{{quickData[6]}}</strong>
                      <br>
                      Assessed Students
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="col">
                  <mat-card class="content fs-5">
                    <mat-card-content>
                      <strong>{{quickData[7]}}</strong>
                      <br>
                      Without Scholarship
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="col">
                  <mat-card class="content fs-5">
                    <mat-card-content>
                      <strong>{{quickData[8]}}</strong>
                      <br>
                      With Scholarship
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <mat-card class="content fs-5">
                    <mat-card-content>
                      <strong>{{quickData[9]}}</strong>
                      <br>
                      Regular Students
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col">
                  <mat-card class="content fs-5">
                    <mat-card-content>
                      <strong>{{quickData[10]}}</strong>
                      <br>
                      Irregular Students
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <br><br>
    </div>
  </div>
</div>
