/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family==Montserrat&display=swap");

*{
  box-sizing: border-box;
}


html{
  font-size: 16px;
}

html, button{
  font-family: Montserrat, sans-serif;
}

body{
  margin: 0;
}

a{
  text-decoration: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table{
  width: 750px;
}

td , th {
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}

th.mat-header-cell{
  text-align: center !important;
}

div {
  overflow: visible;
}
