@import '../../index/home/home.component.scss';

//FORMAT GOES HERE
.container > * {
  min-width: 25rem;
  max-width: 40rem;
  font-size: 20px;
  .label{
    font-size: 24px;
  }

  .small{
    font-size: medium;
  }
}
