@import '../../../index/home/home.component.scss';
@import '../../../student/grades/grades.component.scss';

div.container
{
  width: initial;
}

div.col
{
  p{
    font-size: smaller;
  }
}

.mat-row:hover {
  background-color: initial;
  cursor: default;
}

table
{
  cursor: default !important;
  width: 1080px;
}

.generate-button{
  background: none;
  border: 2px solid   #F95D03;
  border-radius: 5px;
  font-family: "monserrat", sans-serif;
  filter: drop-shadow(1px 1px 1px #033512);
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear; 
  position: relative;
  color:rgb(26, 24, 24);
}

.generate-button:hover{
  color: #FFFFFF;
}

.generate-button::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #D8821B; 
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.generate-button::before{
  transform: scaleY(0);
}

.generate-button:hover::before{
  transform: scaleY(1);
}
