@import '../../../index/home/home.component.scss';
@import '../../../student/grades/grades.component.scss';

div.container
{
  width: initial;
}

div.col
{
  p{
    font-size: smaller;
  }
}

.mat-row:hover {
  background-color: initial;
  cursor: default;
}
table
{
  cursor: default !important;
  width: 1080px;
}
