<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Student List</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container"><p>Student List</p></div>

      <form action="">
        <div class="input-container">
        <input (keyup)="applyFilter($event)" placeholder="ENTER A FILTER" #input>
        <label class="filter">Filter</label>
        </div>
      </form>
      <br>

      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
          <ng-container matColumnDef="studentNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by studentNumber"><p class="table-title"> Student Number </p></th>
            <td mat-cell *matCellDef="let student" (click)="redirectTo(student)" > {{student.studentNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef><p class="table-title"> First Name </p></th>
            <td mat-cell *matCellDef="let student" (click)="redirectTo(student)"> {{student.firstName}} </td>
          </ng-container>

          <ng-container matColumnDef="middleName">
            <th mat-header-cell *matHeaderCellDef><p class="table-title"> Middle Name </p></th>
            <td mat-cell *matCellDef="let student" (click)="redirectTo(student)"> {{student.middleName}} </td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef><p class="table-title"> Last Name </p></th>
            <td mat-cell *matCellDef="let student" (click)="redirectTo(student)"> {{student.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="suffix">
            <th mat-header-cell *matHeaderCellDef><p class="table-title"> Suffix </p></th>
            <td mat-cell *matCellDef="let student" (click)="redirectTo(student)"> {{student.suffix === '' ? '-' : student.suffix }} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef><p class="table-title"> Edit </p></th>
            <td mat-cell *matCellDef="let student">
              <button mat-raised-button routerLink='/student/edit/{{student.studentNumber}}'> Edit </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="shiftTo">
            <th mat-header-cell *matHeaderCellDef><p class="table-title"> Shift to Course </p></th>
            <td mat-cell *matCellDef="let student">
              <form [formGroup]="studentInfoForm">
                <mat-form-field>
                  <mat-select #course>
                    <mat-option
                    *ngFor="let item of curricula" [value]="item.course"
                    (onSelectionChange)="initChangeCourse(student.studentNumber, student.course, item.course)"
                    >
                      {{ item.course }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>

            </td>
          </ng-container>

          <ng-container matColumnDef="confirmShift">
            <th mat-header-cell *matHeaderCellDef><p class="table-title"> Confirm </p></th>
            <td mat-cell *matCellDef="let student">
              <button mat-raised-button (click)="onConfirmShift(student.studentNumber)"> Shift </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let studentRow; columns: columns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of students"></mat-paginator>
      </div>
    </div>
  </div>
</div>


