@import "../../index/home/home.component.scss";

mat-form-field {
  font-size: medium;
}

table {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mat-row:hover {
  background-color: #E8EAF6;
  cursor: pointer;
}

//FORMAT GOES HERE
