.page{
  color: white;
  background: #f1f5f9;
  &__box{
    min-height: 120px;
    background: #1B651B;
    margin: -0.7rem;
    font-size: 36px;
  }
  &__content{
    min-height: calc(100vh - 180px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: max-content;
    }
  }
}

form{
  font-size: 16px;
}

mat-form-field {
  font-size: medium;
  align-items: center;
}

table {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mat-row:hover {
  background-color: #E8EAF6;
  cursor: pointer;
}
