.page{
  color: rgb(246, 222, 4);
  background: #F1F5F9;
  &__box{
    min-height: 120px;
<<<<<<< HEAD
    background-color: #1B651B;
=======
    background: linear-gradient(35deg, #00CC00, #009900, #006600, #003300);
>>>>>>> 7f981994ccd5ab80218212183ea410b71a8155d7
    margin: -0.7rem;
    font-size: 2.8rem;
    font-family:Arial;
    text-shadow: 2px 2px #312E2E;
    -webkit-text-fill-color: #F1F5F9;
    -webkit-text-stroke-width: 1px;
  }
  &__content{
    min-height: calc(100vh - 180px);
    border: 5px solid #1A1818;
    border-radius: 30px;
    margin-top: -2rem;
    background: #E5E5E5;
    color: #1A1818;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    &-data{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: max-content;
    }
  }
}

form{
  font-size: 16px;
}

mat-form-field {
  font-size: medium;
  align-items: center;
}

table {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*.mat-row:hover {
  background-color: #E8EAF6;
  cursor: pointer;
}*/
