<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Curriculum List</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container"><p>Curriculum List</p></div>
      <button mat-button class="btn btn-success" routerLink="/curriculum/add">Add Curriculum</button>
      <br>
      
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Enter a filter" #input>
      </mat-form-field>

      <div class="container table table-responsive">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="semester">
            <th mat-header-cell *matHeaderCellDef> Semester </th>
            <td mat-cell *matCellDef="let curriculum" (click)="redirectTo(curriculum)"> {{curriculum.semester}} </td>
          </ng-container>

          <ng-container matColumnDef="schoolyear">
            <th mat-header-cell *matHeaderCellDef> School Year </th>
            <td mat-cell *matCellDef="let curriculum" (click)="redirectTo(curriculum)"> {{curriculum.schoolyear}} </td>
          </ng-container>

          <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef> Course </th>
            <td mat-cell *matCellDef="let curriculum" (click)="redirectTo(curriculum)"> {{curriculum.course}} </td>
          </ng-container>

          <ng-container matColumnDef="coursemajor">
            <th mat-header-cell *matHeaderCellDef> Major </th>
            <td mat-cell *matCellDef="let curriculum" (click)="redirectTo(curriculum)"> {{curriculum.coursemajor}} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let curriculum">
              <button mat-raised-button routerLink='/curriculum/edit/{{curriculum.id}}'> Edit </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;" ></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of curricula"></mat-paginator>
      </div>
    </div>
  </div>
</div>
