<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Reprint Registration Form</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container" *ngIf="searchVisibility">
        <form [formGroup]="searchForm">
          <div class="input-container">
            <input type="text" formControlName="studentnumber" autocomplete="off" (keypress)="numberFilter($event)">
            <span class="student">Student Number</span>
          </div>
          <br>

          <div class="select-container">
            <select class="select" formControlName="semester" value="">
              <option class="option" value="FIRST">FIRST</option>
              <option class="option" value="SECOND">SECOND</option>
              <option class="option" value="SUMMER">SUMMER</option>
              </select>
              <span class="custom-arrow"></span>
              <span class="span">Semester</span>
            </div>
          <br>

          <div class="input-container1">
            <input type="text" formControlName="schoolyear" autocomplete="off">
            <span class="school-year">School Year</span>
            </div>
          <br>

          <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <button type="submit" class="generate-button" (click)="generateRegForm()">Generate</button>
              </div>

              <div class="col">
                <button class="dashboard-button" routerLink="/dashboard">Dashboard</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="container" *ngIf="resultVisibility">
        <div class="row align-items-start">
          <div class="col">
            <button mat-button type="submit" class="btn btn-success" (click)="exportRegForm()">Export Registration Form</button>
          </div>

          <div class="col">
            <button mat-button (click)="backToSearch()">Back to Search</button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>

      <div id="print" class="container"  *ngIf="resultVisibility">
        <br><br>
        <div class="container">
          <div class="row align-items-start">
            <div class="col">
              <p>Student Number: {{resultForm.get('studentnumber').value}}</p>
            </div>

            <div class="col">
              <p>Semester: {{searchForm.get('semester').value}}</p>
            </div>

            <div class="col">
              <p>School Year: {{searchForm.get('schoolyear').value}}</p>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row align-items-start">
            <div class="col">
              <p>
                Student Name: {{resultForm.get('firstname').value}} {{resultForm.get('middlename').value}}. {{resultForm.get('lastname').value}}
              </p>
            </div>
            <div class="col">
              <p>
                Date: {{currentDate | date: 'fullDate'}} | {{currentDate | date: 'mediumTime'}}
              </p>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row align-items-start">
            <div class="col">
              <p>
                Course: {{resultForm.get('course').value}}
              </p>
            </div>

            <div class="col">
              <p>
                Year: {{resultForm.get('year').value}}
              </p>
            </div>
            <div class="col">
              <p>
                Encoder: eCopy
              </p>
            </div>

            <div class="col">
              <p>
                Major: {{this.resultForm.get('major').value}}
              </p>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row align-items-start">
            <div class="col">
              <p>
                Address: {{this.resultForm.get('address').value}}
              </p>
            </div>

            <div class="col">
              <p>
                Section: {{this.resultForm.get('section').value}}
              </p>
            </div>
          </div>
        </div>
        <div class="container table table-responsive">
          <table mat-table [dataSource]="resultDataSource">
            <ng-container matColumnDef="schedcode">
              <th mat-header-cell *matHeaderCellDef> Schedule Code </th>
              <td mat-cell *matCellDef="let result"> {{result.schedcode}} </td>
            </ng-container>

            <ng-container matColumnDef="subjectcode">
              <th mat-header-cell *matHeaderCellDef> Course Code </th>
              <td mat-cell *matCellDef="let result"> {{result.subjectCode}} </td>
            </ng-container>

            <ng-container matColumnDef="subjectTitle">
              <th mat-header-cell *matHeaderCellDef> Course Description </th>
              <td mat-cell *matCellDef="let result"> {{result.subjectTitle}} </td>
            </ng-container>

            <ng-container matColumnDef="units">
              <th mat-header-cell *matHeaderCellDef> Units </th>
              <td mat-cell *matCellDef="let result"> {{result.units}} </td>
            </ng-container>

            <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef> Time </th>
              <td mat-cell *matCellDef="let result">
                {{result.timein1}}-{{result.timeout1}}
                {{result.timein2 === 'N/A' ? '' : ' \| ' + result.timein2 + '-' + result.timeout2}}
              </td>
            </ng-container>

            <ng-container matColumnDef="day">
              <th mat-header-cell *matHeaderCellDef> Day </th>
              <td mat-cell *matCellDef="let result">
                {{result.day1}}
                {{result.day2 === 'N/A' ? '' : ' \| ' + result.day2}}
              </td>
            </ng-container>

            <ng-container matColumnDef="room">
              <th mat-header-cell *matHeaderCellDef> Room </th>
              <td mat-cell *matCellDef="let result">
                {{result.room1}}
                {{result.room2 === 'N/A' ? '' : ' \| ' + result.room2}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="resultSubjectsColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: resultSubjectsColumn;" ></tr>
          </table>
        </div>



        <div class="container">
          <mat-divider></mat-divider>
          <div class="row align-items-start">
            <div class="col">
              <p><strong>Laboratory Fees</strong></p>
              <mat-divider></mat-divider>
              <p>
                {{resultForm.get('ansci').value === 0 ? '' : "AnSci: "}}
                {{resultForm.get('ansci').value === 0 ? '' : resultForm.get('ansci').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('biosci').value === 0 ? '' : "BioSci: "}}
                {{resultForm.get('biosci').value === 0 ? '' : resultForm.get('biosci').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('cemds').value === 0 ? '' : "CEMDS: "}}
                {{resultForm.get('cemds').value === 0 ? '' : resultForm.get('cemds').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('hrm').value === 0 ? '' : "HRM: "}}
                {{resultForm.get('hrm').value === 0 ? '' : resultForm.get('hrm').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('cropsci').value === 0 ? '' : "CropSci: "}}
                {{resultForm.get('cropsci').value === 0 ? '' : resultForm.get('cropsci').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('engineering').value === 0 ? '' : "Engineering: "}}
                {{resultForm.get('engineering').value === 0 ? '' : resultForm.get('engineering').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('physci').value === 0 ? '' : "PhySci: "}}
                {{resultForm.get('physci').value === 0 ? '' : resultForm.get('physci').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('vetmed').value === 0 ? '' : "VetMed: "}}
                {{resultForm.get('vetmed').value === 0 ? '' : resultForm.get('vetmed').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('speech').value === 0 ? '' : "Speech: "}}
                {{resultForm.get('speech').value === 0 ? '' : resultForm.get('speech').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('english').value === 0 ? '' : "English: "}}
                {{resultForm.get('english').value === 0 ? '' : resultForm.get('english').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('ccl').value === 0 ? '' : "CCL: "}}
                {{resultForm.get('ccl').value === 0 ? '' : resultForm.get('ccl').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('cspear').value === 0 ? '' : "CSPEAR: "}}
                {{resultForm.get('cspear').value === 0 ? '' : resultForm.get('cspear').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('fishery').value === 0 ? '' : "Fishery: "}}
                {{resultForm.get('fishery').value === 0 ? '' : resultForm.get('fishery').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('psyc').value === 0 ? '' : "Psyc: "}}
                {{resultForm.get('psyc').value === 0 ? '' : resultForm.get('psyc').value | number: '1.2-2'}}
              </p>
            </div>

            <div class="col">
              <p><strong>Other Fees</strong></p>
              <mat-divider></mat-divider>

              <p>
                {{resultForm.get('internet').value === 0 ? '' : "Internet: "}}
                {{resultForm.get('internet').value === 0 ? '' : resultForm.get('internet').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('nstp').value === 0 ? '' : "NSTP: "}}
                {{resultForm.get('nstp').value === 0 ? '' : resultForm.get('nstp').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('ojt').value === 0 ? '' : "OJT: "}}
                {{resultForm.get('ojt').value === 0 ? '' : resultForm.get('ojt').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('thesis').value === 0 ? '' : "Thesis: "}}
                {{resultForm.get('thesis').value === 0 ? '' : resultForm.get('thesis').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('rle').value === 0 ? '' : "RLE: "}}
                {{resultForm.get('rle').value === 0 ? '' : resultForm.get('rle').value | number: '1.2-2'}}</p>
              <p>
                {{resultForm.get('student').value === 0 ? '' : "Student: "}}
                {{resultForm.get('student').value === 0 ? '' : resultForm.get('student').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('late').value === 0 ? '' : "Late: "}}
                {{resultForm.get('late').value === 0 ? '' : resultForm.get('late').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('residency').value === 0 ? '' : "Residency: "}}
                {{resultForm.get('residency').value === 0 ? '' : resultForm.get('residency').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('foreignstudent').value === 0 ? '' : "Foreign Student: "}}
                {{resultForm.get('foreignstudent').value === 0 ? '' : resultForm.get('foreignstudent').value | number: '1.2-2'}}</p>
              <p>
                {{resultForm.get('addedsubj').value === 0 ? '' : "Added Subject: "}}
                {{resultForm.get('addedsubj').value === 0 ? '' : resultForm.get('addedsubj').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('petition').value === 0 ? '' : "Petition: "}}
                {{resultForm.get('petition').value === 0 ? '' : resultForm.get('petition').value | number: '1.2-2'}}
              </p>
            </div>

            <div class="col">
              <p><strong>Assessment</strong></p>
              <mat-divider></mat-divider>

              <p>
                {{resultForm.get('tuition').value === 0 ? '' : "Tuition: "}}
                {{resultForm.get('tuition').value === 0 ? '' : resultForm.get('tuition').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('library').value === 0 ? '' : "Library: "}}
                {{resultForm.get('library').value === 0 ? '' : resultForm.get('library').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('medical').value === 0 ? '' : "Med/Dental: "}}
                {{resultForm.get('medical').value === 0 ? '' : resultForm.get('medical').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('publication').value === 0 ? '' : "Publication: "}}
                {{resultForm.get('publication').value === 0 ? '' : resultForm.get('publication').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('registration').value === 0 ? '' : "Registration: "}}
                {{resultForm.get('registration').value === 0 ? '' : resultForm.get('registration').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('guidance').value === 0 ? '' : "Guidance: "}}
                {{resultForm.get('guidance').value === 0 ? '' : resultForm.get('guidance').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('id').value === 0 ? '' : "ID: "}}
                {{resultForm.get('id').value === 0 ? '' : resultForm.get('id').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('sfdf').value === 0 ? '' : "SFDF: "}}
                {{resultForm.get('sfdf').value === 0 ? '' : resultForm.get('sfdf').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('srf').value === 0 ? '' : "SRF: "}}
                {{resultForm.get('srf').value === 0 ? '' : resultForm.get('srf').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('athletic').value === 0 ? '' : "Athletic: "}}
                {{resultForm.get('athletic').value === 0 ? '' : resultForm.get('athletic').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('scuaa').value === 0 ? '' : "SCUAA: "}}
                {{resultForm.get('scuaa').value === 0 ? '' : resultForm.get('scuaa').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('deposit').value === 0 ? '' : "Deposit: "}}
                {{resultForm.get('deposit').value === 0 ? '' : resultForm.get('deposit').value | number: '1.2-2'}}
              </p>
              <p>
                {{resultForm.get('edfs').value === 0 ? '' : "EDFS: "}}
                {{resultForm.get('edfs').value === 0 ? '' : resultForm.get('edfs').value | number: '1.2-2'}}
              </p>

              <p>
                {{resultForm.get('trm').value === 0 ? '' : "TRM: "}}
                {{resultForm.get('trm').value === 0 ? '' : resultForm.get('trm').value | number: '1.2-2'}}
              </p>
              <p>Total Lab Fee: {{resultForm.get('totalLab').value | number: '1.2-2'}}</p>
              <p>Total Other: {{resultForm.get('totalOther').value | number: '1.2-2'}}</p>
            </div>

            <div class="col">
              <p><strong>Total UNITS:</strong> {{totalUnits}}</p>
              <p><strong>Total HOURS:</strong> {{totalHours}}</p>
              <mat-divider></mat-divider>
              <p><strong>Total AMOUNT:</strong> {{totalAmount | number: '1.2-2'}}</p>
              <p><strong>Scholarship:</strong> <br>{{resultForm.get('scholarship').value}}</p>
              <mat-divider></mat-divider>
              <p>Tuition: {{resultForm.get('discountTuition').value}}</p>
              <p>SFDF: {{resultForm.get('discountSfdf').value}}</p>
              <p>SRF: {{resultForm.get('discountSrf').value}}</p>
              <mat-divider></mat-divider>
              <p><strong>Terms of Payment</strong></p>
              <p>First: {{totalAmount/2 | number: '1.2-2'}}</p>
              <p>Second: {{totalAmount/4 | number: '1.2-2'}}</p>
              <p>Third: {{totalAmount/4 | number: '1.2-2'}}</p>
            </div>

          </div>
        </div>
    </div>
  </div>
</div>
