<div class="container-fluid page">
  <div class="page__box p-3 mt-2">User Profile</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container">
        <div class="details">

          <div class="header">
            <span>{{identifiers[0]}}: </span>
            <span>{{user.collegeID}}</span>
          </div>
          <br>

          <div class="username">
            <span>{{identifiers[1]}}: </span>
            <span class="username">{{user.username}}</span>
          </div>
          <br>

          <div class="password">
            <span>{{identifiers[2]}}: </span>
            <span class="password">{{newPassword}}</span>
          </div>
          <br>

          <div class="email">
            <span>{{identifiers[3]}}: </span>
            <span class="email">{{user.email}}</span>
          </div>
          <br>

          <div class="isAdmin">
            <span>{{identifiers[4]}}: </span>
            <span class="isAdmin" *ngIf="user.isAdmin">Yes</span>
            <span class="isAdmin" *ngIf="!user.isAdmin">No</span>
          </div>
          <br>

          <div>
            <button mat-raised-button routerLink='/account/edit/{{user.collegeID}}'> Edit </button>
            <button mat-raised-button (click)="onDeleteUser(user.collegeID)"> Delete </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

